EXPO_PUBLIC_SUPABASE_URL=https://xkcuxqqxuforavhokeky.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhrY3V4cXF4dWZvcmF2aG9rZWt5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0MjkzNTAsImV4cCI6MjA5MzAwNTM1MH0.-Ea2so3qEXBLGes4oJ9yFDptQX8A5c9y3zdLs4MxIG0
